<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - Ohana Network</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block encore_css %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block encore_js %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <meta name="description" content="{{ meta_description ?? "A web platform for everyone on Ohana to enjoy." }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.1.3/darkly/bootstrap.min.css" integrity="sha512-ZdxIsDOtKj2Xmr/av3D/uo1g15yxNFjkhrcfLooZV5fW0TT7aF7Z3wY1LOA16h0VgFLwteg14lWqlYUQK3to/w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.0/font/bootstrap-icons.min.css" integrity="sha512-H4E1ASW8Ru1Npd1wQPB7JClskV8Nv1FG/bXK6TWMD+U9YMlR+VWUZp7SaIbBVBV/iRtefsIsv9dLSN6fdUI36w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/assets/styles.css" />
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% if app.environment == 'prod' and google_analytics_id != 'off' %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', '{{ google_analytics_id }}');
            </script>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <script>
                    gtag('config', '{{ google_analytics_id }}', { 
                        'user_id': '{{ app.user.uuid }}' 
                    });
                    gtag('set', 'user_properties', { 
                        'ohana_member_uuid' : '{{ app.user.uuid }}' 
                    });
                </script>
            {% endif %}
        {% endif %}
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-xs navbar-light bg-light">
            <div class="container-fluid wide-adapt">
                <a class="navbar-brand" href="{{ path('home') }}">
                    <i class="bi-hdd-network me-2"></i>
                    Ohana Network
                    {% if app.environment != 'prod' %}
                        <span class="badge bg-warning text-dark">
                            {{ app.environment | upper }}
                        </span>
                    {% endif %}
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if is_granted('ROLE_ACTIVATED') %}
                            <li class="nav-item">
                                <a href="{{ path('home') }}" class="nav-link">
                                    <i class="bi-house-heart me-1"></i>
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('plannedFeatures') }}" class="nav-link">
                                    <i class="bi-binoculars me-1"></i>
                                    Planned features
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="bi-balloon-heart me-1"></i>
                                    Activities
                                </a>
                                <div class="dropdown-menu">
                                    <a href="{{ path('birthdays') }}" class="dropdown-item">
                                        <i class="bi-calendar-heart me-1"></i>
                                        Birthdays
                                    </a>
                                    <a href="{{ path('luluRankings') }}" class="dropdown-item">
                                        <i class="bi-card-list me-1"></i>
                                        Lulu's Rankings
                                    </a>
                                    <a href="{{ path('tellonym') }}" class="dropdown-item">
                                        {% set hasUnseen = 0 in (app.user.tellonyms | filter(t => t.hidden == 0) | map(t => t.seen)) %}
                                        <i class="bi-send{{ hasUnseen ? '-exclamation' : '' }} me-1"></i>
                                        Tellonym
                                        {% if hasUnseen %}
                                            <span class="badge bg-primary ms-1">
                                                NEW
                                            </span>
                                        {% endif %}
                                    </a>
                                    <a href="{{ path('polls') }}" class="dropdown-item">
                                        <i class="bi-bar-chart-line me-1"></i>
                                        Polls
                                    </a>
                                </div>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="bi-boxes me-1"></i>
                                        Administration
                                    </a>
                                    <div class="dropdown-menu">
                                        <a href="{{ path('admin') }}" class="dropdown-item">
                                            <i class="bi-boxes me-1"></i>
                                            Home
                                        </a>
                                        <a href="{{ path('admin_users') }}" class="dropdown-item">
                                            <i class="bi-people me-1"></i>
                                            Users
                                        </a>
                                        <a href="{{ path('admin_siteSettings') }}" class="dropdown-item">
                                            <i class="bi-gear me-1"></i>
                                            Site Settings
                                        </a>
                                    </div>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a href="{{ path('preferences') }}" class="nav-link">
                                    <i class="bi-sliders me-1"></i>
                                    Preferences
                                </a>
                            </li>
                        {% endif %}
                        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="nav-item">
                                <a href="{{ path('login') }}" class="nav-link">Login</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="/logout" class="nav-link">
                                    <i class="bi-box-arrow-right me-1"></i>
                                    Logout, {{ app.user.nickname }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <main class="container-fluid wide-adapt py-3">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}
            {% if app.user is not null and
                app.request.attributes.get('_route') != 'activation' and
                not app.user.hasValidPronouns %}
                <div class="alert alert-info">
                    The Network deals a bit differently with your pronouns now. You should go to your
                    <a href="{{ path('preferences') }}">preferences</a> page to check out the options you
                    have for your pronouns.
                </div>
            {% endif %}
            {% if app.user is not null %}
                {% for notif in notifications.userNotifications %}
                    <div class="alert alert-info">
                        {{ notif.contentMd | markdown_to_html | replace({'<p>' : '', '</p>': ''}) | raw }}
                    </div>
                {% endfor %}
            {% endif %}
            {% if breadcrumbs is defined %}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for bc in breadcrumbs %}
                            {% if loop.last %}
                                <li class="breadcrumb-item active">
                                    {{ bc[0] }}
                                </li>
                            {% else %}
                                <li class="breadcrumb-item">
                                    <a href="{{ path(bc[1]) }}">{{ bc[0] }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
            {% endif %}
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
